{% extends 'webserver/base_generic.html' %}
{% load static %}

{% block page_name %}
  Status Serviço Consumidor Twitter
{% endblock page_name %}

{% block main %}
            
  <div class="row">
    <div class="col-md-6 stretch-card grid-margin">
      <div class="card bg-gradient-danger card-img-holder text-white">
        <div class="card-body">
          <img src="{% static 'assets/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
          <h4 class="font-weight-normal mb-3" style="text-align: center">Aplicação Saudável <i class="mdi mdi-chart-line mdi-24px float-right"></i>
          </h4>
          <span></span>
          <h6 class="card-text">Tempo médio de requisição</h6>
          <h2 class="mb-5" id="tempo_medio_resposta_saudavel">{{tempo_request}}</h2>
          <h6 class="card-text">Última requisição</h6>
          <span> {{ultima_requisicao}} </span>
        </div>
      </div>
    </div>

    <div class="col-md-6 stretch-card grid-margin">
      <div class="card bg-gradient-danger card-img-holder text-white">
        <div class="card-body">
          <img src="{% static 'assets/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
          <h4 class="font-weight-normal mb-3" style="text-align: center">Aplicação Controlada <i class="mdi mdi-chart-line mdi-24px float-right"></i>
          </h4>
          <span></span>
          <h6 class="card-text">Tempo médio de requisição</h6>
          <h2 class="mb-5" id="tempo_medio_resposta_chaos">{{tempo_request}}</h2>
          <h6 class="card-text">Última requisição</h6>
          <span> {{ultima_requisicao}} </span>
        </div>
      </div>
    </div>

  </div>

{% endblock %}